**/__pycache__
runs/
.vscode/

*.tif
*.jpg
*.png
*.jpeg
*.webp
*.nii.gz
*.txt

Kvasir-SEG/Kvasir-SEG/bbox/*
LISA_recreation_attempt/LISA_Plus_7b/*
LISA_recreation_attempt/coco2017/*
unrefined_med_data/*
processed_med_data/*
med_data_datasets/*
